<table class="table table-hover">
    <thead class="thead-dark">
        <tr>

            <th scope="col"># Pruebas</th>
            <th scope="col">Fecha Ejecucion</th>
            <th scope="col">Ultimo Fallo</th>

        </tr>
    </thead>
    <tbody>


        <tr *ngFor="let prueba of pruebas; let i=index" (click)="seleccion(i)">
            <th scope="row">{{i+1}}</th>
            <td> {{prueba.fecha}} </td>
            <td> {{prueba.ultimoFallo}} </td>


        </tr>
    </tbody>
</table>
<app-paginador></app-paginador>