<div class="row">
    <div class="col-3">
        <div class="bounceInLeft animated text-center py-2">
            <h1>Ejecuciones</h1>
        </div>
        <app-detallelista></app-detallelista>
    </div>
    <div class="col-9">
        <div class="container">
            <div class="row" *ngIf="detallecircular">
                <div class="col-sm">
                    <app-detallecircular></app-detallecircular>
                </div>
                <div class="col-sm">
                    <app-detallecircular></app-detallecircular>
                </div>
                <div class="col-sm">
                    <app-detallecircular></app-detallecircular>
                </div>
            </div>
            <div class="col-md-4 offset-md-4" *ngIf="!detallecircular">
                <app-spinner></app-spinner>
            </div>
        </div>
        <div class="row mt-5" style="width: 70%;">
            <div class="col-12" *ngIf="detallebarra">
                <app-detallebarra></app-detallebarra>
            </div>
            <div class="col-md-6 offset-md-6" *ngIf="!detallebarra">
                <app-spinner></app-spinner>
            </div>
        </div>
    </div>
</div>